body {
  font-family: 'Roboto';
  color: #eeeeee;
  background: url("https://source.unsplash.com/all/?night") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clock {
  color: #eeeeee;
  margin-top: 70px;
  margin-left: 113px;
  position: relative;
}
.clock .hours,
.clock .minutes,
.clock .seconds {
  border-radius: 50%;
  text-align: center;
  position: absolute;
}
.clock .seconds {
  width: 66.66667px;
  height: 66.66667px;
  top: 72.66667px;
  left: 72.66667px;
  line-height: 1.5;
  font-size: 41.20313px;
  z-index: 1;
  background-color: rgba(222, 222, 222, 0.41);
}
.clock .minutes {
  width: 100px;
  height: 100px;
  top: 56px;
  left: 56px;
  line-height: 1.5;
  font-size: 61.8047px;
  z-index: 2;
}
.clock .hours {
  width: 200px;
  height: 200px;
  line-height: 1.5;
  font-size: 123.60939px;
  z-index: 0;
  border: 6px solid #f4f4f4;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100vw;
  color: #9e9e9e;
}
footer a {
  text-decoration: none;
  color: #9e9e9e;
  font-weight: bolder;
}
footer p img.icon {
  width: 32px;
  height: 32px;
}
